{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_title %}
    <title>新建项目</title>
{% endblock %}

{% block custom_content %}
        <div class="templatemo-content">
          <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">首页</a></li>
            <li class="active">任务详细表单</li>
          </ol>
          <div class="row">
            <div class="col-md-12">
              <form role="form" id="templatemo-preferences-form" method="post" action="{% url 'project:project_add' %}">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6 margin-bottom-15">
                        <label for="missionName" class="control-label">所属项目</label>
                        <input type="text" class="form-control" id="missionName" name="missionName" value="{{ current_mission.stage.project.name }}" disabled>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 margin-bottom-15">
                        <label for="missionName" class="control-label">任务名</label>
                        <input type="text" class="form-control" id="missionName" name="missionName" value="{{ current_mission.name }}" disabled>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 margin-bottom-15">
                          <label for="missionManager">任务负责人</label>
                          <input type="text" class="form-control" id="missionManager" value="{{ current_mission.get_this_mission_all_staffs }}" name="missionManager" disabled>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 margin-bottom-15">
                        <label for="missionName" class="control-label">创建时间</label>
                        <input type="text" class="form-control" id="missionName" name="missionName" value="{{ current_mission.add_time }}" disabled>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 margin-bottom-15">
                        <label for="missionName" class="control-label">预计完成时间</label>
                        <input type="text" class="form-control" id="missionName" name="missionName" value="{{ current_mission.end_time }}" disabled>
                    </div>
                  </div>
              <div class="row">
                        <div class="col-md-12 margin-bottom-15">
                        <label for="missionDetail">任务简述</label>
                        <textarea class="form-control" rows="3" id="missionDetail" name="missionDetail">{{ current_mission.content }}</textarea>
                    </div>
              </div>
              <div class="row templatemo-form-buttons">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary">编辑</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
{% endblock %}