{% extends 'base.html' %}
{% load staticfiles %}
{% block right_col %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Project Detail <small> design</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>New Partner Contracts Consultancy</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                      <ul class="stats-overview">
                        <li>
                          <span class="name"> 项目人数 </span>
                          <span class="value text-success"> 2300 </span>
                        </li>
                        <li>
                          <span class="name"> 项目领导 </span>
                          <span class="value text-success"> 2000 </span>
                        </li>
                        <li class="hidden-phone">
                          <span class="name"> 项目预期</span>
                          <span class="value text-success"> 20 </span>
                        </li>
                      </ul>
                      <br/>

                      <div>

                        <h4>总进度</h4>

                        <!-- end of user messages -->
                        <ul class="messages">
                            {% for stage in all_stages %}
                                <li>
                                    <div class="message_wrapper">
                                      <h4 class="heading">{{ stage.name }}</h4>
                                        {% for mission in stage.get_all_missions %}
                                            <td><blockquote class="message"><a href="{% url 'project:project_mission_detail' mission.id %}"><small>{{ mission.name }}</small></a></blockquote></td>
                                            <td class="project_progress">
                                                <div style="width:100%;height:10%" class="progress progress_sm">
                                                  <div class="progress-bar {% if mission.progress == 100 %}bg-green{% else %}bg-red{% endif %}" role="progressbar" data-transitiongoal="{{ mission.progress }}" style="width: 66%;"></div>
                                                </div>
                                                <h5>{{ mission.progress }}% Complete </h5>
                                            </td>
                                        {% endfor %}
                                      <br />
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- end of user messages -->


                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}